.body-container {
    min-height: 96vh;      /* full height */
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(
  135deg,
  #1e293b 0%,   /* dark blue-gray */
  #0f172a 100%  /* deep navy */
);
  
    color: white;           /* optional, you can remove */
  }
  